<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css" />
<div
  class="home-div h-100 w-100 d-flex flex-column align-items-center justify-content-center"
>
  <h1>LuffyCamp</h1>
  <h5 class="lead">Welcome to LuffyCamp!</h5>
  <p class="text-center">
    LuffyCamp is a big website to provide you the best information about
    campgrounds. <br />
    Here you can find many campground information, review them, and search for
    you required campgrounds.
  </p>
  <a class="btn btn-light" href="/campgrounds">View Campgrounds</a>
</div>
